<footer class="text-lg-start">
  <div class="top-footer bottom-footer p-1 d-flex justify-content-center align-items-center text-white">
    <!-- Grid container -->
    <div class=" container p-4">
      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <a href="https://www.cimmyt.org/">
            <img src="assets/images/CIMMYT_horizontal_logo.svg" alt="">
          </a>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <li class="social_cimmyt">
            <ul class="social_item">
              <a href="https://www.facebook.com/CIMMYT " role="button"><i class="fab fa-facebook-f fa-lg"></i></a>
            </ul>
            <ul class="social_item">
              <a href="https://twitter.com/CIMMYT" role="button"><i class="fab fa-twitter fa-lg"></i></a>
            </ul>
            <ul class="social_item">
              <a href="https://www.youtube.com/CimmytOrg" role="button"><i class="fab fa-youtube fa-lg"></i></a>
            </ul>
            <ul class="social_item">
              <a href="https://www.flickr.com/CIMMYT" role="button"><i class="fab fa-flickr fa-lg"></i></a>
            </ul>
            <ul class="social_item">
              <a href="https://www.linkedin.com/company/cimmyt" role="button"><i class="fab fa-linkedin fa-lg"></i></a>
            </ul>
          </li>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="bottom-footer p-1 d-flex justify-content-center align-items-center text-white">
    <div class="content-container">
      <p class="m-0">
        <a class="text-white"
           href="http://www.dspace.org/" role="link" tabindex="0">{{ 'footer.link.dspace' | translate}}</a>
        {{ 'footer.copyright' | translate:{year: dateObj | date:'y'} }}
        <a class="text-white"
           href="https://www.lyrasis.org/" role="link" tabindex="0">{{ 'footer.link.lyrasis' | translate}}</a>
      </p>
      <ul class="footer-info list-unstyled d-flex justify-content-center mb-0">
        <li *ngIf="showCookieSettings">
          <button class="btn btn-link text-white" type="button" (click)="openCookieSettings()" role="button" tabindex="0">
            {{ 'footer.link.cookies' | translate}}
          </button>
        </li>
        <li>
          <a class="btn text-white"
             routerLink="info/accessibility" role="link" tabindex="0">{{ 'footer.link.accessibility' | translate }}</a>
        </li>
        <li *ngIf="showPrivacyPolicy">
          <a class="btn text-white"
             routerLink="info/privacy" role="link" tabindex="0">{{ 'footer.link.privacy-policy' | translate}}</a>
        </li>
        <li *ngIf="showEndUserAgreement">
          <a class="btn text-white"
             routerLink="info/end-user-agreement" role="link" tabindex="0">{{ 'footer.link.end-user-agreement' | translate}}</a>
        </li>
        <li *ngIf="showSendFeedback$ | async">
          <a class="btn text-white"
             routerLink="info/feedback" role="link" tabindex="0">{{ 'footer.link.feedback' | translate}}</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Copyright -->
</footer>