:host {
  footer {
    background-color: #336C6D;
    text-align: center;
    z-index: var(--ds-footer-z-index);
    border-top: var(--ds-footer-border);
    padding: var(--ds-footer-padding);
    color: #ffffff;

    p {
      margin: 0;
    }

    div > img {
      height: var(--ds-footer-logo-height);
    }


    .top-footer {
      background-color: #336C6D;
      padding: var(--ds-footer-padding);
      margin: calc(var(--ds-footer-padding) * -1);
    }

    .bottom-footer {
      ul {
        li {
          display: inline-flex;

          a {
            padding: 0 calc(var(--bs-spacer) / 2);
            color: inherit
          }

          &:not(:last-child) {
            &:after {
              content: '';
              border-right: 1px var(--bs-secondary) solid;
            }

          }
        }
      }
    }
  }

  li.social_cimmyt {
    display: flex;
  }
  ul.social_item i {
    color: #fff;
    transition: background-color 0.3s ease;
  }

  ul.social_item i.fa-facebook-f:hover {
    color: #3b5998;
  }
  ul.social_item i.fa-twitter:hover {
    color: #55acee;
  }
  ul.social_item i.fa-youtube:hover {
    color: #FF0000;
  }
  ul.social_item i.fa-flickr:hover {
    color: #0063dc;
  }
  ul.social_item i.fa-linkedin:hover {
    color: #0e76a8;
  }
}


