<footer>
  @if (showTopFooter) {
    <div class="top-footer">
      <!-- Grid container -->
      <div class=" container p-4">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 cimmyt_banner">
            <a href="https://www.cimmyt.org/">
              <img src="assets/images/Horizontal-CIMMYT_logo_white.svg" alt="">
            </a>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <img class="fao_banner" src="https://assets.agris.fao.org/public/images/2026-06/ADP_cert_2027.png"  alt=" QY0 – FAO AGRIS data provider 2027" title="Seal of Recognition for Active FAO AGRIS Data Providers 2027"   width="147" height="192" />
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
    </div>
  }
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="bottom-footer p-1 d-flex flex-column flex-md-row justify-content-center align-items-center text-white">
    <div class="content-container align-self-center">
      <li class="social_cimmyt justify-content-center">
        <ul class="social_item">
          <a href="https://www.facebook.com/CIMMYT" role="button"><i class="fab fa-facebook-f fa-lg"></i></a>
        </ul>
        <ul class="social_item">
          <a href="https://twitter.com/CIMMYT" role="button"><i class="fab fa-twitter fa-lg"></i></a>
        </ul>
        <ul class="social_item">
          <a href="https://www.youtube.com/CimmytOrg" role="button"><i class="fab fa-youtube fa-lg"></i></a>
        </ul>
        <ul class="social_item">
          <a href="https://www.flickr.com/CIMMYT" role="button"><i class="fab fa-flickr fa-lg"></i></a>
        </ul>
        <ul class="social_item">
          <a href="https://www.linkedin.com/company/cimmyt" role="button"><i class="fab fa-linkedin fa-lg"></i></a>
        </ul>
      </li>
      <p class="m-0">
        <a class="text-white"
        href="http://www.dspace.org/" role="link" tabindex="0">{{ 'footer.link.dspace' | translate}}</a>
        {{ 'footer.copyright' | translate:{year: dateObj | date:'y'} }}
        <a class="text-white"
        href="https://www.lyrasis.org/" role="link" tabindex="0">{{ 'footer.link.lyrasis' | translate}}</a>
      </p>
      <ul class="footer-info list-unstyled d-flex justify-content-center mb-0">
        @if (showCookieSettings) {
        <li>
          <button class="btn btn-link text-white" type="button" (click)="openCookieSettings()" role="button" tabindex="0">
            {{ 'footer.link.cookies' | translate}}
          </button>
        </li>
        }
        <li>
          <a class="btn btn-link text-white" type="button" role="button" tabindex="0"
             routerLink="info/accessibility" role="link" tabindex="0">{{ 'footer.link.accessibility' | translate }}</a>
        </li>
        @if (showPrivacyPolicy) {
          <li>
            <a class="btn btn-link text-white"
            routerLink="info/privacy" role="link" tabindex="0">{{ 'footer.link.privacy-policy' | translate}}</a>
          </li>
        }
        @if (showEndUserAgreement) {
          <li>
            <a class="btn btn-link text-white"
            routerLink="info/end-user-agreement" role="link" tabindex="0">{{ 'footer.link.end-user-agreement' | translate}}</a>
          </li>
        }
        @if (showSendFeedback$ | async) {
          <li>
            <a class="btn btn-link text-white"
            routerLink="info/feedback" role="link" tabindex="0">{{ 'footer.link.feedback' | translate}}</a>
          </li>
        }
      </ul>
    </div>
  </div>
  <!-- Copyright -->
    @if (coarLdnEnabled$ | async) {
      <div class="bottom-footer p-1 d-flex flex-column flex-md-row justify-content-center align-items-center text-white">
        <div class="notify-enabled text-white align-self-end">
          <a class="coar-notify-support-route" routerLink="info/coar-notify-support" role="link" tabindex="0">
            <img class="n-coar" src="assets/images/n-coar.svg" [attr.alt]="'menu.header.image.logo' | translate" />
            {{ 'footer.link.coar-notify-support' | translate }}
          </a>
        </div>
      </div>
    }
</footer>