<div class="item-page-field cgiar-initiative">
  <h5>{{"item.page.social.header" | translate}}</h5>
  <div class="simple-view-element-body">
    <a title="Tweet this" target="_blank" href="https://twitter.com/intent/tweet?url={{item?.firstMetadataValue('dc.identifier.uri')}}&amp;text={{item?.firstMetadataValue('dc.title')}}" class="ng-star-inserted"><i class="fa-brands fa-square-twitter fa-2x pr-1"></i></a><a _ngcontent-dspace-angular-c269="" title="Share on Facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://hdl.handle.net/10568/139663" class="ng-star-inserted"><i class="fa-brands fa-square-facebook fa-2x pr-1"></i></a>
    <a title="Share on Facebook" target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{item?.firstMetadataValue('dc.identifier.uri')}}" class="ng-star-inserted"><i  class="fa-brands fa-linkedin fa-2x pr-1"></i></a>
    <a title="Add this article to your Mendeley library" target="_blank" href="https://www.mendeley.com/import/?url={{item?.firstMetadataValue('dc.identifier.uri')}}" class="ng-star-inserted"><i class="fa-brands fa-mendeley fa-2x pr-1"></i></a>
    <a title="Share via e-mail" target="_blank" href="mailto:?&amp;body={{item?.firstMetadataValue('dc.identifier.uri')}}&amp;media=&amp;subject={{item?.firstMetadataValue('dc.title')}}" class="ng-star-inserted"><i class="fa-solid fa-envelope fa-2x"></i></a>
  </div>
</div>
