<div class="background-image-container mt-ncs">
  <div class="container">
    <div class="home-news-content py-4 px-2 py-sm-5 px-sm-0 mt-ncs mb-4">
      <div class="container">
        <div class="d-flex flex-wrap">
          <div>
            <h1 class="display-2">CIMMYT Publications Repository</h1>
            <p class="lead">Harvesting Success</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <picture class="background-image">
    <p-carousel [value]="backgrounds" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="10000" align="center">
      <ng-template let-bg pTemplate="item">
        <img [src]="'assets/dspace/images/' + bg" alt="Background image" class="w-100" class="background-element"/>
      </ng-template>
    </p-carousel>
  </picture>
</div>
