<div class="background-image-container mt-ncs">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-3">Digital Assets Management Repository</h1>
        </div>
      </div>
    </div>
  </div>
  <picture class="background-image">
    @if (images) {
      <ngb-carousel [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators" interval = 7000>
        @for (image of images; track image) {
          <ng-template ngbSlide >
            <div class="picsum-img-wrapper">
              <img [src]="image" />
            </div>
          </ng-template>
        }
      </ngb-carousel>
    }
  </picture>
</div>
