<div class="item-page-field">
  <div *ngIf="validateRightsValue(item?.allMetadata(fields))">
    <!-- Contenido que se muestra cuando la condición es verdadera -->
    <h5 class="simple-view-element-header" *ngIf="label">{{ label }}</h5>
    <img class="openaccess-img" src="assets/dspace/images/open-access.svg" />
  </div>
  <div *ngIf="validateCCRightsValue(item?.allMetadata(fields)) as ccLicense">
    <h5 class="simple-view-element-header" *ngIf="label">{{ label }}</h5>
    <div class="cc-license-container">
      <a [href]="ccLicense.url" target="_blank" rel="noopener noreferrer" title="Ver términos de la licencia">
        <img  
          [src]="'https://licensebuttons.net/l/' + ccLicense.type + '/4.0/88x31.png'" 
          [alt]="'Licencia CC ' + ccLicense.type" 
          class="cc-icon"
        />
      </a>
    </div>
  </div>
</div>