<!-- <ds-themed-home-news></ds-themed-home-news> -->

<div class="background-image-container">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-3">CIMMYT Publications Repository</h1>
          <p class="lead">Harvesting Success</p>
        </div>
      </div>
    </div>
    <div class="owl-carousel-header owl-carousel owl-theme">
      <div class="item">
          <img [src]="'assets/dspace/images/1.jpg'" />
      </div>
      <div class="item">
          <img [src]="'assets/dspace/images/2.jpg'" />
      </div>
      <div class="item">
        <img [src]="'assets/dspace/images/3.jpg'" />
      </div>
      <div class="item">
        <img [src]="'assets/dspace/images/4.jpg'" />
      </div>
    </div>
  </div>
</div>


<div class="container">
  <ng-container *ngIf="(site$ | async) as site">
    <ds-view-tracker [object]="site"></ds-view-tracker>
  </ng-container>
  <ds-themed-search-form [inPlaceSearch]="false" [searchPlaceholder]="'home.search-form.placeholder' | translate"></ds-themed-search-form>
  <!--<ds-themed-top-level-community-list></ds-themed-top-level-community-list> -->
  <ng-container>
    <h2>
      {{'communityList.title' | translate}}
    </h2>
    <!--<p class="lead">{{'home.top-level-communities.help' | translate}}</p> -->

    <div class="owl-carousel-collections owl-carousel owl-theme">
      <div class="item">
        <img class="collection-img" src="assets/dspace/images/collection_badge.png" />
        <a href="/search?scope={UUID}&spc.page=1&spc.sf=dc.date.issued&spc.sd=DESC"><h5 class="collection-name">Genetic Resources</h5></a>
      </div>
      <div class="item">
        <img class="collection-img" src="assets/dspace/images/collection_badge.png" />
        <a href="/search?scope={UUID}&spc.page=1&spc.sf=dc.date.issued&spc.sd=DESC"><h5 class="collection-name">Institutional</h5></a>
      </div>
      <div class="item">
        <img class="collection-img" src="assets/dspace/images/collection_badge.png" />
        <a href="/search?scope={UUID}&spc.page=1&spc.sf=dc.date.issued&spc.sd=DESC"><h5 class="collection-name">Maize</h5></a>
      </div>
      <div class="item">
        <img class="collection-img" src="assets/dspace/images/collection_badge.png" />
        <a href="/search?scope={UUID}&spc.page=1&spc.sf=dc.date.issued&spc.sd=DESC"><h5 class="collection-name">Socioeconomics</h5></a>
      </div>
      <div class="item">
        <img class="collection-img" src="assets/dspace/images/collection_badge.png" />
        <a href="/search?scope={UUID}&spc.page=1&spc.sf=dc.date.issued&spc.sd=DESC"><h5 class="collection-name">Sustainable Agrifood Systems</h5></a>
      </div>
      <div class="item">
        <img class="collection-img" src="assets/dspace/images/collection_badge.png" />
        <a href="/search?scope={UUID}&spc.page=1&spc.sf=dc.date.issued&spc.sd=DESC"><h5 class="collection-name">Sustainable Intensification</h5></a>
      </div>
      <div class="item">
        <img class="collection-img" src="assets/dspace/images/collection_badge.png" />
        <a href="/search?scope={UUID}&spc.page=1&spc.sf=dc.date.issued&spc.sd=DESC"><h5 class="collection-name">Wheat</h5></a>
      </div>
      <div class="item">
        <img class="collection-img" src="assets/dspace/images/collection_badge.png" />
        <a href="/search?scope={UUID}&spc.page=1&spc.sf=dc.date.issued&spc.sd=DESC"><h5 class="collection-name">Photography</h5></a>
      </div>
      <div class="item">
        <img class="collection-img" src="assets/dspace/images/collection_badge.png" />
        <a href="/search?scope={UUID}c&spc.page=1&spc.sf=dc.date.issued&spc.sd=DESC"><h5 class="collection-name">Video</h5></a>
      </div>
    </div>
  </ng-container>
  <ds-recent-item-list *ngIf="recentSubmissionspageSize>0"></ds-recent-item-list>
</div>